.new-members, .new-activity {
  display: flex; }

.new-members img, .new-activity img {
  float: left; }

.social-widget p, .google-heading,
.twitter-heading,
.facebook-heading {
  float: right; }

button[name="save"],
button[name="cancel"], button[name="send"] {
  width: 78%;
  padding: 1%;
  margin: 1.5rem 10%;
  height: 2.5rem;
  color: #fff;
  background: #7733ff;
  border: none;
  border-radius: 0.5rem; }
  button[name="save"]:focus,
  button[name="cancel"]:focus, button[name="send"]:focus, button[name="save"]:hover,
  button[name="cancel"]:hover, button[name="send"]:hover {
    color: #400080;
    background: #dce1fc; }

select, #userSearch {
  width: 78%;
  padding: 1%;
  margin: 0.75rem 10%;
  background: #f0f1f1;
  border: none;
  border-radius: 0.5rem;
  transition: all .5s; }
  select:focus, #userSearch:focus {
    background: #dce1fc; }

nav {
  display: none;
  background: #7733ff;
  width: 3rem;
  /*height: 100%;*/ }
  @media (min-width: 768px) {
    nav {
      width: 5rem;
      display: inline-block; } }
  nav li {
    width: 1.5rem;
    padding: 1rem 0;
    margin: 0 auto;
    height: 1.5rem;
    list-style: none;
    opacity: .5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      nav li {
        width: 2rem;
        padding: 1rem 0;
        height: 2rem; } }

.search-div {
  width: 50%;
  padding: 0.1rem;
  float: right;
  text-align: right;
  background: #f0f1f1; }
  @media (min-width: 768px) {
    .search-div {
      width: 75%;
      padding: 0.25rem; } }
  .search-div p {
    display: none; }

#search {
  width: 75%;
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: .25rem; }
  @media (min-width: 768px) {
    #search {
      width: 35%;
      margin: 0.5rem 1rem; } }
  #search::placeholder {
    color: #d9d9d9; }

.social-container {
  list-style: none;
  display: flex;
  border-top: 1px solid #7733ff;
  border-bottom: 1px solid #7733ff;
  padding: 1rem 0;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column; }
.social-widget {
  width: 90%;
  margin: 2.5% 5%;
  background: #f0f1f1;
  border: 2px solid #d9d9d9;
  border-radius: 0.5rem; }
  .social-widget svg {
    width: 2rem;
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
    height: 2rem;
    background: #400080;
    border-radius: 50%;
    fill: #fff;
    overflow: visible; }
  .social-widget p {
    font-size: 2.5rem;
    clear: right;
    padding: 0;
    margin: 0;
    transform: translate(-40%, 1rem); }

.google-heading,
.twitter-heading,
.facebook-heading {
  font-size: 1rem;
  padding: 0;
  margin: 0; }

.google-heading {
  transform: translate(-6.4rem, 1.25rem); }

.twitter-heading {
  transform: translate(-6.5rem, 1.25rem); }

.facebook-heading {
  transform: translate(-5.25rem, 1.25rem); }

.new-members, .new-activity {
  list-style: none;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column; }
  .new-members li, .new-activity li {
    width: 80%;
    padding: 2.5%;
    margin: auto;
    border-bottom: 1px solid #7733ff; }
  .new-members a, .new-activity a {
    text-decoration: none;
    float: left;
    padding: 0;
    margin: 0; }
  .new-members img, .new-activity img {
    border-radius: 50%;
    width: 4rem;
    padding: 0;
    margin: auto 1rem auto 0;
    height: 4rem; }

.new-members:last-child {
  border-bottom: none; }

.member-list span {
  padding: 0;
  margin: 0; }

.new-activity:last-child {
  border-bottom: none; }

.switch-ios.switch-light input:checked ~ span {
  border-color: #7733ff;
  box-shadow: inset 0 0 0 30px #7733ff; }

.switch-light {
  width: 50%;
  padding: 0;
  margin: 1rem 25% 2rem 25%; }

.settings {
  text-align: center; }

.settingSpan {
  padding: 0;
  margin: 0 auto; }

.sectionTitle {
  text-align: left; }

* {
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-size: 1rem;
  margin-left: 1rem; }

header {
  background: #8080ff;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 .5rem; }
  @media (min-width: 768px) {
    header {
      padding: .5rem 1rem; } }

h1 {
  font-size: 1rem;
  flex-basis: 80%;
  align-self: center;
  font-weight: normal; }

h1,
.flex-header {
  align-self: center; }

#icon-bell {
  width: 1.5rem;
  padding: 0 1.5rem;
  height: 1.5rem;
  overflow: visible; }

.bell-path {
  fill: #fff;
  transition: all .4s ease-in-out; }

#icon-bell:hover .bell-path,
#icon-bell:focus .bell-path {
  fill: #ffe066; }

.flex-header {
  justify-content: flex-end; }

.userName {
  white-space: nowrap;
  border-left: 1px solid #400080;
  padding: .5rem 0 .5rem 1rem; }

main {
  flex: 1;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-direction: column; }
  @media (min-width: 768px) {
    main {
      flex: 1;
      flex-wrap: wrap; } }

#mainTraffic {
  border-bottom: 1px solid #7733ff; }
  @media (min-width: 768px) {
    #mainTraffic {
      flex-grow: 2;
      flex-basis: calc(100% - 5rem); } }

form {
  border-bottom: 1px solid #7733ff; }

#userMessage {
  width: 78%;
  padding: 1%;
  margin: 0.75rem 10%;
  height: 5rem;
  background: #f0f1f1;
  border: none;
  border-radius: 0.5rem; }
  #userMessage:focus {
    background: #dce1fc; }

/*# sourceMappingURL=dashboard.css.map */
