@media (min-width: 768px) {
  .traffic, .mobileUsers {
    min-width: calc((100% - 5rem) / 2);
    max-width: calc((100% - 5rem) / 2); } }
.new-members img, .new-activity img, .dash, main h2 {
  float: left; }

.alertClose, .sentClose, .arrow {
  float: right; }

.social-widget p, .google-heading,
.twitter-heading,
.facebook-heading {
  float: right; }

button[name="save"],
button[name="cancel"], button[name="send"] {
  width: 78%;
  padding: 1%;
  margin: 1.5rem 10%;
  height: 2.5rem;
  color: #fff;
  background: #7733ff;
  border: none;
  border-radius: 0.5rem;
  transition: all .5s ease-in-out; }
  button[name="save"]:focus,
  button[name="cancel"]:focus, button[name="send"]:focus, button[name="save"]:hover,
  button[name="cancel"]:hover, button[name="send"]:hover {
    color: #fff;
    opacity: .7; }

select, #userSearch {
  width: 80%;
  padding: 0.5rem 0;
  margin: 0.75rem 10%;
  background: #f0f1f1;
  border: none;
  border-radius: 0.5rem;
  transition: all .5s ease-in-out;
  text-indent: .75rem; }
  select:focus, #userSearch:focus {
    background: lavender; }

#error::after, #messageError::after {
  position: absolute;
  z-index: 100;
  color: #fff;
  width: 250px;
  padding: 0.3rem;
  margin: auto;
  background: rgba(119, 51, 255, 0.35);
  border-radius: 0.5rem;
  content: attr(data-error);
  left: 10%; }

#error::before, #messageError::before {
  position: absolute;
  z-index: 100;
  border-style: solid;
  border-width: 0 .3rem .65rem .3rem;
  border-color: transparent transparent rgba(119, 51, 255, 0.35) transparent;
  left: 25%;
  content: ""; }

.alertClose, .sentClose {
  color: #400080;
  font-size: .8rem;
  font-weight: bold;
  position: relative;
  top: -.85rem;
  right: -.2rem;
  background: lavender;
  border-radius: 50%;
  padding: 0 .35rem .2rem .35rem;
  cursor: default;
  transition: all .3s ease-in-out; }
  .alertClose:hover, .sentClose:hover {
    background: #400080;
    color: lavender; }

nav {
  display: flex;
  background: #7733ff;
  width: 100%;
  height: 3rem;
  /*height: 100%;*/ }
  @media (min-width: 768px) {
    nav {
      width: 5rem;
      display: inline-block; } }
  nav li {
    padding: 1rem 0;
    margin: 0;
    height: 1.5rem;
    list-style: none;
    opacity: .5;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    transition: all .3s ease-in-out; }
    nav li:hover {
      opacity: 1; }
    nav li img {
      max-width: 100%; }
    @media (min-width: 768px) {
      nav li {
        width: 2rem;
        padding: 1rem 0;
        height: 2rem; } }

.nav-dash {
  opacity: 1; }
  .nav-dash:hover {
    opacity: .5; }

.search-div {
  width: 60%;
  padding: 0.1rem;
  margin: 0 0 1rem 0;
  float: right;
  text-align: right;
  background: #f0f1f1;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .search-div {
      width: 75%;
      padding: 0.25rem; } }
  .search-div p {
    display: none; }

#search {
  width: 75%;
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
  border: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    #search {
      width: 35%;
      margin: 0.5rem 1rem; } }
  #search::placeholder {
    color: #d9d9d9; }

@keyframes alertFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes popup {
  from {
    opacity: 0;
    z-index: -1; }
  to {
    opacity: 1;
    z-index: 100; } }
.mainAlert {
  width: 89%;
  padding: 0.5rem;
  margin: 1rem auto;
  background: #7733ff;
  border-radius: 0.5rem;
  clear: both;
  color: #fff;
  opacity: 0;
  animation: 1s ease-in .3s forwards alertFade; }
  .mainAlert p {
    font-size: .88rem;
    width: 95%;
    padding: 0;
    margin: auto; }

#sent {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  width: 90%;
  padding: 0.5rem;
  margin: auto;
  height: 3.5rem;
  background: rgba(119, 51, 255, 0.35);
  border-radius: 0.5rem;
  position: absolute;
  left: 2.5%;
  z-index: -1;
  opacity: 0; }

.show {
  animation: .5s ease-in .1s forwards popup; }

#requireUser {
  display: none;
  z-index: 101; }

#requireMessage {
  display: none;
  z-index: 102; }

.hide {
  display: none; }

#error,
#messageError {
  position: relative;
  opacity: 0;
  z-index: -1; }

#error::after {
  top: 54px; }

#error::before {
  top: 44px; }

#messageError::after {
  top: 148px; }

#messageError::before {
  top: 137px; }

.social-container {
  list-style: none;
  display: flex;
  border-top: 1px solid #7733ff;
  border-bottom: 1px solid #7733ff;
  padding: 1rem 0;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column; }
.social-widget {
  width: 90%;
  margin: 0.5rem auto;
  max-width: 375px;
  min-width: 294px;
  background: #f0f1f1;
  border: 2px solid #d9d9d9;
  border-radius: 0.5rem; }
  .social-widget svg {
    width: 2rem;
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
    height: 2rem;
    background: #400080;
    border-radius: 50%;
    fill: #fff;
    overflow: visible; }
  .social-widget p {
    font-size: 2.5rem;
    clear: right;
    padding: 0;
    margin: 0;
    transform: translate(-35%, 1rem); }

.google-heading,
.twitter-heading,
.facebook-heading {
  font-size: 1rem;
  padding: 0;
  margin: 0; }

.google-heading {
  transform: translate(-6rem, 1.25rem); }

.twitter-heading {
  transform: translate(-6.1rem, 1.25rem); }

.facebook-heading {
  transform: translate(-5rem, 1.25rem); }

.new-members, .new-activity {
  list-style: none;
  display: block; }
  .new-members li, .new-activity li {
    width: 95%;
    padding: 2.5% 0;
    margin: auto;
    height: 4rem;
    border-bottom: 1px solid #7733ff; }
  .new-members a, .new-activity a {
    text-decoration: none;
    font-size: .7rem;
    padding: 0;
    margin: 0; }
  .new-members img, .new-activity img {
    border-radius: 50%;
    width: 4rem;
    padding: 0;
    margin: auto 1rem auto 0;
    height: 4rem; }

.new-activity {
  position: initial;
  z-index: -1; }

time {
  font-size: .75rem; }

.user-name {
  white-space: nowrap;
  font-size: 1rem;
  padding: 0;
  margin: 0.25rem 0 0 0; }

.activity {
  margin-top: .5rem;
  margin-bottom: 0;
  white-space: pre-wrap; }

.active-time {
  font-size: .75rem;
  margin-top: .25rem; }

.arrow {
  padding: 0 .25rem;
  position: relative;
  top: -2.75rem;
  background: #7733ff;
  color: #fff;
  cursor: pointer;
  transition: all .5s ease-in-out; }
  .arrow:hover {
    background: lavender;
    color: #fff; }

.switch-ios.switch-light input:checked ~ span {
  border-color: #7733ff;
  box-shadow: inset 0 0 0 30px #7733ff; }

.switch-light {
  width: 50%;
  padding: 0;
  margin: 1rem 25% 2rem 25%; }

.switch-ios.switch-light input:checked ~ span a {
  border-color: #7733ff; }

.settings {
  text-align: center; }

.settingSpan {
  padding: 0;
  margin: 0 auto; }

.sectionTitle {
  text-align: left; }

button[name="cancel"] {
  background: grey; }

button[name="cancel"]:hover {
  background: grey;
  opacity: .7; }

* {
  font-family: 'Open Sans', sans-serif;
  position: initial;
  z-index: 1; }

h2 {
  font-size: 1rem;
  margin-left: 1rem; }

.dash {
  margin-left: 5.5%;
  font-size: 1rem;
  color: grey; }

main h2 {
  clear: both;
  margin: 1rem auto 0 .5rem; }

header {
  background: #8080ff;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 .5rem; }
  @media (min-width: 768px) {
    header {
      padding: .5rem 1rem; } }

h1 {
  font-size: 1rem;
  flex-basis: 80%;
  align-self: center;
  font-weight: normal; }

h1,
.flex-header {
  align-self: center; }

#icon-bell {
  width: 1.5rem;
  padding: 0 1.5rem;
  height: 1.5rem;
  overflow: visible;
  cursor: pointer; }

.bell-path {
  fill: #fff;
  transition: all .4s ease-in-out; }

#icon-bell:hover .bell-path,
#icon-bell:focus .bell-path {
  fill: #ffe066; }

.flex-header {
  justify-content: flex-end; }

.userName {
  white-space: nowrap;
  border-left: 1px solid #400080;
  padding: .5rem 0 .5rem 1rem; }

.iconNotify {
  position: relative;
  z-index: 200; }

.iconNotify::after, .notifyHide::after {
  position: absolute;
  z-index: 200;
  background: lime;
  border-radius: 50%;
  width: 0.5rem;
  padding: 0.1rem 0.25rem 0.4rem 0.25rem;
  margin: 0;
  height: 0.5rem;
  content: attr(data-icon);
  font-size: .7rem;
  color: #400080;
  right: 20px;
  top: -3px;
  text-align: center; }

@keyframes notifyHop {
  from {
    top: -5px; }
  to {
    top: 3px; } }
.iconHover:hover .iconNotify::after, .iconHover:hover .notifyHide::after {
  animation: notifyHop .25s ease-in .3s infinite; }

.iconHover {
  align-self: center;
  display: inline-flex; }

.notifyDiv {
  z-index: 900; }

.notifyShow {
  position: relative;
  z-index: -5; }

.notifyHide {
  position: relative;
  z-index: 999; }

@keyframes dropDown {
  from {
    right: 20px;
    top: -3px;
    background: lime;
    border-radius: 50%;
    width: 0.5rem;
    padding: 0.1rem 0.25rem 0.4rem 0.25rem;
    margin: 0;
    height: 0.5rem;
    color: #400080;
    opacity: 0;
    font-size: .7rem;
    z-index: -5; }
  to {
    z-index: 999;
    background: #8080ff;
    width: 250px;
    height: 40px;
    border-radius: 0 0 .25rem .25rem;
    padding: 1rem;
    top: 32px;
    right: -90px;
    font-size: .9rem;
    opacity: 1;
    color: #fff; } }
.notifyHide::after {
  z-index: -5;
  opacity: 0; }

.notifyShow::after {
  animation: dropDown .3s ease-in .2s forwards; }

main {
  flex: 1;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-direction: column; }
  @media (min-width: 768px) {
    main {
      flex: 1;
      flex-wrap: wrap; } }

.mainTraffic {
  border-bottom: 1px solid #7733ff; }
  @media (min-width: 768px) {
    .mainTraffic {
      flex-grow: 2;
      flex-basis: calc(100% - 5rem); } }

.traffic {
  border-bottom: 1px solid #7733ff; }
  @media (min-width: 768px) {
    .traffic {
      flex-basis: calc(100% - 5rem); } }

#chart-buttons {
  clear: left;
  display: flex;
  width: 70%;
  margin: 0 5% 0 25%;
  font-size: .8rem;
  list-style: none;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end; }
  #chart-buttons li {
    padding: 0.5rem;
    margin: 0.1rem;
    cursor: pointer; }

.chart-button-color {
  background: lightgreen;
  border-radius: 1rem; }

form {
  border-bottom: 1px solid #7733ff; }

#userSearch::-webkit-calendar-picker-indicator {
  display: none; }

#userMessage {
  width: 80%;
  padding: 0.5rem 0;
  margin: 0.75rem 10%;
  height: 7rem;
  background: #f0f1f1;
  border: none;
  border-radius: 0.5rem;
  text-indent: -.5rem;
  transition: all .5s ease-in-out; }
  #userMessage:focus {
    background: lavender; }

/*# sourceMappingURL=dashboard.css.map */
