@media #{$break-m} {
  %canvasWidth {
    min-width: $flexCalc2;
    max-width: $flexCalc2;
  }
}

%floatNflex {
  float: right;
  display: flex;
  width: $flex320;
}

%display-flex {
  display: flex;
}

%float-l {
  float: left;
}

%float-r {
  float: right;
}

%floatNposition {
  float: right;
  // position: relative;
  // top: 1.25rem;
  // right: 18%;
}

%button {
  @include sizeBox(78%, 1%, 1.5rem 10%, 2.5rem);
  color: $button-text;
  @include b-styles($button-bg, none, .5rem);
  transition: all .5s ease-in-out;
  &:focus,
  &:hover {
    color: $input-text;
    opacity: .7;
  }
}

%inputs {
  @include sizeBox(80%, .5rem 0, .75rem 10%);
  @include b-styles($input-bg, none, .5rem);
  transition: all .5s ease-in-out;
  text-indent: .75rem;
  &:focus {
    @include b-styles($input-focus);
  }
}
