%members {
  list-style: none;
  @extend %display-flex;
  @include flex(1, null, null, nowrap, column);
  li {
    @include sizeBox(80%, 2.5%, auto);
    border-bottom: $border-solid;
    // @include b-styles($social-bg);
  }
  a {
    text-decoration: none;
    float: left;
    @include sizeBox(null, 0, 0);
  }
  img {
    @include b-styles(null, null, 50%);
    @include sizeBox(4rem, 0, auto 1rem auto 0, 4rem);
    @extend %float-l;
  }
}

.new-members {
  @extend %members;
  &:last-child {
    border-bottom: none;
  }
}

.member-list span {
  @include sizeBox(null, 0, 0);
}

.new-activity {
  @extend %members;
  &:last-child {
    border-bottom: none;
  }
}
