%members {
  list-style: none;
  display: block;
  // @extend %display-flex;
  // @include flex(1, null, null, nowrap, column);
  li {
    @include sizeBox(95%, 2.5% 0, auto, 4rem);
    border-bottom: $border-solid;
  }
  a {
    text-decoration: none;
    font-size: .7rem;
    @include sizeBox(null, 0, 0);
  }
  img {
    @include b-styles(null, null, 50%);
    @include sizeBox(4rem, 0, auto 1rem auto 0, 4rem);
    @extend %float-l;
  }
}

.new-members {
  @extend %members;
}

.new-activity {
  @extend %members;
  position: initial;
  z-index: -1;
}

time {
  // @extend %float-r;
  font-size: .75rem;
}

.user-name {
  white-space: nowrap;
  font-size: 1rem;
  @include sizeBox(null, 0, .25rem 0 0 0);
}

.activity {
  margin-top: .5rem;
  margin-bottom: 0;
  white-space: pre-wrap;
}

.active-time {
  font-size: .75rem;
  margin-top: .25rem;
}

.arrow {
  @extend %float-r;
  padding: 0 .25rem;
  position: relative;
  top: -2.75rem;
  background: $button-bg;
  color: $button-text;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: $input-focus;
    color: $input-text;
  }
}
