
main {
  @include flex(1, 1, null, nowrap, column);
  @include media('med') {
    @include flex(1, null, null, wrap);
  }
}

.mainTraffic {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    @include flex(null, 2, $flexCalc);
  }
}

.traffic {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    @include flex(null, null, $flexCalc);
    @extend %canvasWidth;
  }
}

.mobileUsers {
  @include media('med') {
    @extend %canvasWidth;
  }
}

#chart-buttons {
  clear: left;
  display: flex;
  @include sizeBox(70%, null, 0 5% 0 25%);
  font-size: .8rem;
  list-style: none;
  @include flex(null, 1, null, nowrap, row) {
    justify-content: flex-end;
  }
  li {
    @include sizeBox(null, .5rem, .1rem);
    cursor: pointer;
  }
}

.chart-button-color {
  @include b-styles(lightgreen, null, 1rem);
}
