
main {
  @include flex(1, 1, null, nowrap, column);
  @include media('med') {
    display: inline-block;
    @include sizeBox(calc(100% - 80px), null, 0);
  }
}

.mainTraffic {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    max-height: 350px;
  }
  h2 {
    @include media('med') {
    position: absolute;
    }
  }
}

.traffic {
  border-bottom: 1px solid $canvas-border;
  @include media('med') {
    float: left;
    width: $flexCalc2;
    border: none;
  }
}

.mobileUsers {
  @include media('med') {
    float: right;
    width: $flexCalc2;
  }
}

#chart-buttons {
  clear: left;
  display: flex;
  @include sizeBox(70%, null, 0 5% 0 25%);
  font-size: .8rem;
  list-style: none;
  @include flex(null, 1, null, nowrap, row) {
    justify-content: flex-end;
  }
  li {
    @include sizeBox(null, .5rem, .1rem);
    cursor: pointer;
  }
}

.chart-button-color {
  @include b-styles(lightgreen, null, 1rem);
}
