header {
  background: $header-bg;
  display: flex;
  justify-content: space-between;
  color: $header-text;
  padding: 0 .5rem;
  @include media('med') {
    padding: .5rem 1rem;
  }
}

h1 {
  font-size: 1rem;
  flex-basis: 80%;
  align-self: center;
  font-weight: normal;
}

h1,
.flex-header {
  align-self: center;
}

#icon-bell {
  @include sizeBox(
  1.5rem,
  0 1.5rem,
  null,
  1.5rem);
  overflow: visible;

}

.bell-path {
  fill: $icon-fill;
  transition: all .4s ease-in-out;
}

#icon-bell:hover .bell-path,
#icon-bell:focus .bell-path {
  fill: $icon-hover;
  // transform: rotate(20deg);
  // transform-origin: top;
}

.flex-header {
  justify-content: flex-end;
}

.userName {
  white-space: nowrap;
  border-left: 1px solid $user-border;
  padding: .5rem 0 .5rem 1rem;
}
